@model IEnumerable<AppAdvocacia.Models.Cliente>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Clientes</h2>

@if (!Model.Any())
{
    <p>Não temos nenhum cliente ainda.</p>
}
else
{
    <p>
        @Html.ActionLink("Novo Cliente", "New", null, new { @class = "btn btn-primary" })
    </p>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Cliente</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var cliente in Model)
            {
                <tr>
                    <td>@Html.ActionLink(@cliente.Nome, "Edit", new { cliente.Id })</td>
                </tr>
            }
        </tbody>
    </table>
}