@model IEnumerable<AppAdvocacia.Models.Processo>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Processo</h2>

@if (!Model.Any())
{
    <p>Não temos nenhum processo registrado.</p>
}
else
{
    <p>
        @Html.ActionLink("Novo Processo", "New", null, new { @class = "btn btn-primary" })
    </p>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Processo</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var processo in Model)
            {
                <tr>
                    <td>@Html.ActionLink(@processo.Nome, "Edit", new { processo.Id })</td>
                </tr>
            }
        </tbody>
    </table>
}