@model AppAdvocacia.ViewModels.ProcessoFormViewModel
@{
    ViewBag.Title = Model.Titulo;
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Save", "Processo"))
{
    @Html.HiddenFor(m => m.Processo.Id)
    <div class="form-group">
        @Html.LabelFor(m => m.Processo.Nome)
        @Html.TextBoxFor(m => m.Processo.Nome, new { @class = "form-control" })
    </div>
    <button type="submit" class="btn btn-primary">Salvar</button>
}