@model AppAdvocacia.ViewModels.VaraIndexViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Processo</h2>

@if (@Model.Vara.Count > 0)
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr><th>Varas</th></tr>
        </thead>
        <tbody>
            @foreach (var vara in Model.Vara)
            {
                <tr><td>@Html.ActionLink(@vara.Nome, "Details", new { vara.Id })</td></tr>
            }
        </tbody>
    </table>
}
else
{
    <p>We don't have any customers yet.</p>
}

