@model IEnumerable<AppAdvocacia.Models.Vara>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Processo</h2>

@if (!Model.Any())
{
    <p>Não temos nenhuma vara registrada.</p>
}
else
{
    <p>
        @Html.ActionLink("Nova Vara", "New", null, new { @class = "btn btn-primary" })
    </p>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Vara</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var vara in Model)
            {
                <tr>
                    <td>@Html.ActionLink(@vara.Nome, "Edit", new { vara.Id })</td>
                </tr>
            }
        </tbody>
    </table>
}