@model IEnumerable<AppAdvocacia.Models.Advogado>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Clientes</h2>

@if (!Model.Any())
{
    <p>Não temos nenhum advogado cadastrado ainda.</p>
}
else
{
    <p>
        @Html.ActionLink("Novo Advogado", "New", null, new { @class = "btn btn-primary" })
    </p>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Advogado</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var advogado in Model)
            {
                <tr>
                    <td>@Html.ActionLink(@advogado.Nome, "Edit", new { advogado.Id })</td>
                </tr>
            }
        </tbody>
    </table>
}